.rowContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 50px;
    
}

.card {
    border: solid .1px grey !important;
    border-radius: 0px !important;
    margin: 10px;

}

.card img {
    padding: 15px;
}

.card-body a {
    background-color: green;
    border: solid .1px green !important;
    width: 150px;
    display: block;
    margin:auto;


}

.checked {
    color: orange;
  }
  

  .leftMenu {
    display: flex;
    flex-direction: column;
    padding: 50px;
    border: solid .1px black;
    margin-top: 50px;
    box-shadow: 1px 1px #000000;
    
  }

.leftMenu a {
    text-decoration: none;
    color: black;
    
}

.globalContainer {
    display: flex;
    flex-direction: row;



}

footer {

    text-align: center;

    padding: 100px;

    background-color: rgb(0, 0, 0);

    color: rgb(247, 243, 243);

}